{% extends "base.html" %}

{% block head %}
<h1>I LOVE NERO I WANT HIM TO SEX MY BUTT</h1>
{% endblock %}

{% block body %}

<p><a href="https://www.twitter.com/snehenpashin"target="_blank">
	<br><br><img src="static/css/assets/thoon.jpg" alt=":33"style="width:300px;height:40px;display:block;margin:auto"></a></p>
<pre style="background-color:#4a412a";>
	have you ever had a stupid penis so stupid it was retarded like a retarded penis
	i haven't dude you're fucking weird
	...
	...............................
	i mean like an EXTRA retarded penis like-
	dude i will kill myself in front of you i am not fucking joking</pre>

<br><br><img src="static/css/assets/leafeater.gif"alt=":33"style="width:300px;height:300px;display:block;margin:auto"></a></p>
{% endblock %}