<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon"type="image/x-icon"href="{{url_for('static',filename='slushed.ico')}}">
	<link rel="stylesheet"href="{{ url_for('static',filename='css/main.css') }}">
	<title>sex site real boobeis</title>
	<h1>WELCOME TO SEX SITE REAL SEX BOOBIES1!!</h1>
	<!-- I don't understand why I don't have to put the above in between block head and endblock for it to display on index.html,  -->
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>